---
import { type CollectionEntry, getEntry } from "astro:content"
import type { AuthorProfile, PostData } from "../content/data"

interface Props {
    post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const data: PostData = post.data
const authorEntry = await getEntry("authors", data.author.id)
const author: AuthorProfile = authorEntry.data

const formatedDate = data.date.toLocaleDateString()
---

<li>
    <a href={"post/" + post.slug}>
        <div class="flex flex-row h-32 gap-3 rounded-lg p-3
        transition ease-in hover:bg-overlay1">
            <img src={data.image.src} class="rounded-md"/>
            <div class="flex flex-col">
                <span>
                    <h1>{data.title}</h1>
                    <small>{author.name} ● {formatedDate}</small>
                </span>
                <p class="text-sm text-ellipsis overflow-hidden">
                    {post.body}
                </p>
            </div>
        </div>
    </a>
</li>