---
import IconButton from "./IconButton.astro";

const shareIconSize: number = 30;
---

<aside class="flex flex-row gap-6 items-center justify-start sm:max-md:justify-center scale-100 sm:scale-75 md:max-2xl:scale-100">
  <span class="font-bold sm:text-base md:max-2xl:text-xs">SHARE</span>
  <span id="copyLink">
    <IconButton name="link" size={shareIconSize} alt="Copy link" />
  </span>
  <span id="shareTwitter">
    <IconButton
      name="twitter"
      size={shareIconSize}
      alt="Share on Twitter (X)"
    />
  </span>
  <span id="shareWhatsApp">
    <IconButton name="zapzap" size={shareIconSize} alt="Share on WhatsApp" />
  </span>
  <span id="shareTelegram">
    <IconButton name="telegram" size={shareIconSize} alt="Share on Telegram" />
  </span>
  <span id="shareReddit">
    <IconButton name="reddit" size={shareIconSize} alt="Share on Reddit" />
  </span>
</aside>

<script>
  import {
    shareTwitter,
    shareLinkedin,
    shareWhatsApp,
    shareTelegram,
    shareReddit,
  } from "../scripts/share";

  document.addEventListener("astro:page-load", () => {
    document.getElementById("copyLink")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      navigator.clipboard.writeText(link);
    });
    document.getElementById("shareTwitter")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      shareTwitter(link);
    });
    document.getElementById("shareLinkedin")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      shareLinkedin(link);
    });
    document.getElementById("shareWhatsApp")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      shareWhatsApp(link);
    });
    document.getElementById("shareTelegram")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      shareTelegram(link);
    });
    document.getElementById("shareReddit")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      shareReddit(link);
    });
  });
</script>
