---
import { type CollectionEntry, getEntry } from "astro:content";
import type { AuthorProfile, PostData } from "../scripts/types/post_types";
import PostTypeTag from "./PostTypeBadge.astro";
import { renderPostContent } from "../scripts/content_render";
import PostInfo from "./PostInfo.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const data: PostData = post.data;
const authorEntry = await getEntry("authors", data.author.id);
const author: AuthorProfile = authorEntry.data;
const postContent = await renderPostContent(post)
const { renderPostData } = postContent
const { remarkPluginFrontmatter: remark } = renderPostData

const formatedDate = data.date.toLocaleDateString("pt-br");
---

<li class="py-4">
  <div class="flex flex-col">
    <span
      class="flex sm:flex-col md:max-2xl:flex-row md:max-2xl:items-center md:max-2xl:space-x-3"
    >
      <a href={`/post/${post.slug}`}>
        <h1 class="group-hover:underline" transition:name={data.id}>
          {data.title}
        </h1>
      </a>
      <span transition:name={data.id + data.postType}>
        <PostTypeTag text={data.postType} />
      </span>
    </span>
    <PostInfo author={author} date={formatedDate} minutesRead={remark.minutesRead} />
    <div>
      <p class="text-ellipsis overflow-hidden">
        {data.description}
      </p>
    </div>
  </div>
</li>
