---
import LayoutBase from "./LayoutBase.astro";
import Prose from "../components/Prose.astro"
import type { PostImage } from "../content/data"
import PostSideBarLeft from "../components/PostSideBarLeft.astro";
import PostSideBarRight from "../components/PostSideBarRight.astro";

interface Props {
    title: string,
    author: string
    date: Date
    image: PostImage
}

const { title, author, date, image } = Astro.props
const formatedDate = date.toLocaleDateString()
---

<LayoutBase title={title}>
        <div class="flex flex-row gap-10 mx-16">
            <PostSideBarLeft/>
            <main class="flex flex-col gap-5">
                <header class="flex flex-col">
                    <img src={image.src} alt={image.alt} class="rounded-xl mb-5 
                        h-96 w-screen object-cover"/>
                    <div class="flex flex-col">
                        <h1>{title}</h1>
                        <h3>by {author} ● {formatedDate}</h3>
                    </div>
                </header>
                <article>
                    <Prose>
                        <slot/>
                    </Prose>
                </article>
            </main>
            <PostSideBarRight/>
        </div>
</LayoutPage>