---
import LayoutBase from "./LayoutBase.astro";
import Prose from "../components/Prose.astro";
import type { AuthorProfile, PostData } from "../scripts/types/post_types";
import PostSideBarLeft from "../components/PostSideBarLeft.astro";
import TagsViewer from "../components/TagsViewer.astro";
import PostTypeTag from "../components/PostTypeTag.astro";

interface Props {
  id: string;
  post: PostData;
  author: AuthorProfile;
}

const { post, author } = Astro.props;
const { id, title, date, tags, postType, image } = post;
const formatedDate = date.toLocaleDateString();
---

<LayoutBase title={title} bttEnable>
  <main class="sm:mx-5 md:mx-14">
    <div class="flex flex-col gap-5 mb-5">
      <PostSideBarLeft/>
      <header class="flex flex-col">
        <img src={image.src} alt={image.alt} class="relative rounded-xl mb-5 
            h-96 w-screen shadow-md object-cover"/>
        <div class="flex flex-col mb-3">
            <div class="flex flex-row items-center gap-3">
                <h1 transition:name={id}>{title}</h1>
                <span transition:name={id + postType}>
                    <PostTypeTag text={postType}/>
                </span>
            </div>
            <small>by {author.name} ● {formatedDate}</small>
        </div>
        <TagsViewer tags={tags}/>
    </header>
  </div>
  <article class="self-center">
    <Prose>
        <slot/>
    </Prose>
</article>
  </main>
</LayoutPage>