---
import LayoutBase from "./LayoutBase.astro";
import Prose from "../components/Prose.astro"
import type { AuthorProfile, PostData } from "../content/data"
import PostSideBarLeft from "../components/PostSideBarLeft.astro";
import PostSideBarRight from "../components/PostSideBarRight.astro";
import TagsViewer from "../components/TagsViewer.astro";
import PostTypeTag from "../components/PostTypeTag.astro";

interface Props {
    id: string
    post: PostData
    author: AuthorProfile
}

const { id, post, author } = Astro.props
const { title, date, tags, postType, image } = post
const formatedDate = date.toLocaleDateString()
---

<LayoutBase title={title}>
        <div class="flex flex-row gap-10 mx-16">
            <PostSideBarLeft/>
            <main class="flex flex-col gap-5">
                <header class="flex flex-col">
                    <div class="relative">
                        <img src={image.src} alt={image.alt} class="rounded-xl mb-5 
                        h-96 w-screen object-cover shadow-md">
                            <span class="absolute top-3 right-3" transition:name={id + postType}>
                                <PostTypeTag text={postType}/>
                            </span>
                        </img>
                    </div>
                    <div class="flex flex-col mb-3">
                        <h1 transition:name={id}>{title}</h1>
                        <h3>by {author.name} ● {formatedDate}</h3>
                    </div>
                    <TagsViewer tags={tags}/>
                </header>
                <article>
                    <Prose>
                        <slot/>
                    </Prose>
                </article>
            </main>
        </div>
</LayoutPage>